body{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.left img{
    display: flex;
    justify-content: center;
    width: 150px;
}

.lista nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-left: 0px;
}

.lista nav ul li{
    text-decoration: none;
    list-style: none;
    border-bottom: solid white 1px;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}

.lista nav ul li:hover{
    background-color: black;
}

.left{
    width: 20%;
    height: 100vh;
    background-color: brown;
    padding-top: 150px;
}

.texto{
    display: flex;
    justify-content: center;
    color: white;

}

.profile{
    display: flex;
    justify-content: center;
}

.right{
    width: 80%;
    height: 100vh;
    background-image: url();
}

.socials{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.socials img{
    width: 70px;
    height: auto;

}