body{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    text-align: center;
}

.left img{
    display: flex;
    justify-content: center;
    width: 150px;
}

.lista nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-left: 0px;
}

.lista nav ul li{
    text-decoration: none;
    list-style: none;
    border-bottom: solid white 1px;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}

.lista nav ul li:hover{
    background-color: black;
}

.left{
    width: 20%;
    height: 100vh;
    background-color: brown;
    padding-top: 150px;
    padding-bottom: 200px;
}

.texto{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 15px;
}

.profile{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.right{
    width: 80%;
    height: 100vh;
    padding-bottom: 350px;
    background-image: url(https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2020/04/mars_landscape/21916769-2-eng-GB/Mars_landscape.jpg);
}

.right p{
    width: 60%;
}

.Template{
    display: flex;
    flex-direction: row;
}

.Template h2{
    padding-left: 20px;
    color: white;
}

.Template img{
    padding-left: 150px;
    width: 750px;
}

.socials{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10px;
}

.redes img{
    background-color: gray;
    gap: 15px;
}

.socials img{
    width: 50px;
    height: auto;
}